# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [18]:
# Your code here
import random

#Random number generator
def generate_random(min, max, count):
    randomlist = list(random.sample(range(min, max), count))
    return randomlist

def Average(my_list):
    return sum(my_list)/len(my_list)

#function call
randomlist = generate_random(1, 100, 5)
print("Random list: ", randomlist)

#Sort ascending order
randomlist.sort()
print("Ascending order: ", randomlist)

#Sort descending order
randomlist.sort(reverse=True)
print("Descending order: ",randomlist)


#Get average 
print("Average of the list is: ",Average(randomlist))

Random list:  [60, 5, 22, 51, 3]
Ascending order:  [3, 5, 22, 51, 60]
Descending order:  [60, 51, 22, 5, 3]
Average of the list is:  28.2

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [29]:
# Your code here

#define function to calculate V
def Calculate_V(start, end):
    print("r \t V")
    for x in range(start, end + 1):
        V = 4/3 * 3.14 * pow(x,3)
        print(x, "\t", V)

#Function call to calculate V
Calculate_V(1, 10)

r 	 V
1 	 4.1866666666666665
2 	 33.49333333333333
3 	 113.03999999999999
4 	 267.94666666666666
5 	 523.3333333333334
6 	 904.3199999999999
7 	 1436.0266666666666
8 	 2143.5733333333333
9 	 3052.08
10 	 4186.666666666667

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [75]:
# Your code here

# (1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. 
# The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. 
# Finally, print the values in the ascending order.

import pandas as pd

#Read csv file
denton_housing = pd.read_csv('lab_assignment_02_denton_housing.csv')

#Get rows where title field equals to Occupied Housing Units
denton_housing = denton_housing.loc[denton_housing["title_field"] == "Occupied Housing Units" ]

#Get and print the difference
denton_housing['Diff'] = denton_housing['value'].diff()
print(denton_housing.to_string())

print("\nSorted value by Diff value\n")

denton_housing_sorted = denton_housing.sort_values(by = 'Diff')
print(denton_housing_sorted.to_string())

    year             title_field  value    Diff
2   2014  Occupied Housing Units  46295     NaN
5   2013  Occupied Housing Units  43673 -2622.0
8   2012  Occupied Housing Units  42108 -1565.0
11  2011  Occupied Housing Units  40704 -1404.0
14  2010  Occupied Housing Units  41007   303.0
17  2009  Occupied Housing Units  35916 -5091.0
20  2008  Occupied Housing Units  36711   795.0

Sorted value by year

    year             title_field  value    Diff
17  2009  Occupied Housing Units  35916 -5091.0
5   2013  Occupied Housing Units  43673 -2622.0
8   2012  Occupied Housing Units  42108 -1565.0
11  2011  Occupied Housing Units  40704 -1404.0
14  2010  Occupied Housing Units  41007   303.0
20  2008  Occupied Housing Units  36711   795.0
2   2014  Occupied Housing Units  46295     NaN

In [77]:
# (2) (10 pts) For all the years, calculate the percentage of housing units which are vacant and occupied.


denton_housing = pd.read_csv('lab_assignment_02_denton_housing.csv')
denton_housing = (pd.pivot_table(
    data=denton_housing,
    index='year',
    columns='title_field',
    values='value')
    .rename_axis(columns=None)
).reset_index()


denton_housing ["Occupied Housing Units"] = (denton_housing["Occupied Housing Units"]/denton_housing["Total Housing Units"]) * 100
denton_housing ["Vacant Housing Units"] = (denton_housing["Vacant Housing Units"]/denton_housing["Total Housing Units"]) * 100
denton_housing[['year', 'Vacant Housing Units', 'Occupied Housing Units']]

   year  Vacant Housing Units  Occupied Housing Units
0  2008             10.882653               89.117347
1  2009              9.071116               90.928884
2  2010              8.142556               91.857444
3  2011              9.379522               90.620478
4  2012              6.677600               93.322400
5  2013              8.801788               91.198212
6  2014              5.730111               94.269889

In [95]:
# (3)(10 pts) Calculate and print the valued and years in which 
# the highest number of housing units were vacant and occupied. 
denton_housing = pd.read_csv('lab_assignment_02_denton_housing.csv')
#denton_housing = denton_housing.sort_values('value', ascending=False).drop_duplicates(['title_field','year','value'])
denton_housing.loc[df.groupby(["title_field", "year"])["value"].idxmax()] 
print(denton_housing.to_string())

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [ ]:
# (4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. 
## You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm